<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>


        <menuitem name="Transfer" id="menu_root_transfer" sequence="70"/>

        <menuitem id="menu_transfer"
                  name="Transfer"
                  parent="menu_root_transfer"
                  sequence="7"
        />
        <menuitem id="menu_config"
                  name="Config"
                  parent="menu_root_transfer"
                  sequence="77"
        />



    </data>
</odoo>
