<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>


<!--        <menuitem name="Working Order" id="menu_root_transfer" sequence="70"/>-->

<!--        <menuitem id="menu_transfer"-->
<!--                  name="Working Order"-->
<!--                  parent="sale.sale_order_menu"-->
<!--                  sequence="7"   />-->

        <menuitem id="menu_config"
                  name="Config"
                  parent="sale.menu_sale_config"
                  sequence="77"   />



    </data>
</odoo>
